NETFLIX_DATA_PATH=/home/arnab/CODE/ETL-Data Engineering/netflix_etl/data/netflix_titles.csv
NETFLIX_OUTPUT_DIR=/home/arnab/CODE/ETL-Data Engineering/netflix_etl/output
NETFLIX_LOG_FILE=/home/arnab/CODE/ETL-Data Engineering/netflix_etl/output/pipeline.log
NETFLIX_DATABASE_URL=sqlite:////home/arnab/CODE/ETL-Data Engineering/netflix_etl/output/analytics.db
